.holder{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.item:nth-child(1){
	display:flex;
	height:100px;
	width:100px;
	background-color:red;
}
.item:nth-child(2){
	display:flex;
	height:100px;
	width:100px;
	background-color:blue;
}
.item:nth-child(3){
	display:flex;
	height:100px;
	width:100px;
	background-color:green;
}